<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day3</title>
    <link rel="stylesheet" href="index.css">
</head>


<body>
    <!-- WHY FORM CONTROLS -->
    <!-- 1. To collect data from the user -->
    <!-- 2. To send data to the server -->
    <!-- 3. To validate data -->
    <form action="/get-form-data" method="post">
        <!-- Username -->
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username">
        <!-- Email -->
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter your email">
        <!-- Password -->
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password">
        <button type="submit">Submit</button>
    </form>
    

    
</body>

</html>